<footer class="site-footer">
    <section class="share gradient-to-b" style="--color-start: #073D60; --color-end: #0A3652;">
    <span>Social Media:</span>
    <a target="_blank" href="https://www.facebook.com"><img src="{{ SITEURL }}/misc/logo-fb-simple.svg" alt="Facebook icon"></a>
    <a target="_blank" href="https://x.com"><img src="{{ SITEURL }}/misc/logo-twitter.svg" alt="Twitter icon"></a>
    <a target="_blank" href="https://www.youtube.com"><img src="{{ SITEURL }}/misc/logo-youtube.svg" alt="YouTube icon"></a>
    <a target="_blank" href="https://www.pinterest.com"><img src="{{ SITEURL }}/misc/logo-pinterest.svg" alt="Pinterest icon"></a>
    <a target="_blank" href="https://www.instagram.com"><img src="{{ SITEURL }}/misc/logo-instagram.svg" alt="Instagram icon"></a>
    </section>
    <p>&copy; GospelTruthDaily 2024. All rights reserved.&nbsp;</p>
    <p>
            <span><a href="{{ SITEURL }}/pages/about.html">About</a></span> |
            <span><a href="{{ SITEURL }}/pages/contact.html">Contact</a></span> |
            <span><a href="{{ SITEURL }}/pages/privacy.html">Privacy Policy</a></span>
    </p>
    <div>
    </div>
</footer>
